body {
  background-color: #fffaf5;
  font-family: "Langar", cursive;
  font-size: 18px;
}

label {
  line-height: 120%;
}

input, select, textarea {
  font-family: "Josefin Slab", serif;
}

.bg-black {
  background-color: #1b1919;
  padding: 12px 0px;
}

.bg-main {
  background: -webkit-gradient(linear, right top, left top, from(#fffaf5), color-stop(#d8d2d2), color-stop(#d8d2d2), color-stop(#d8d2d2), to(#fffaf5));
  background: linear-gradient(to left, #fffaf5, #d8d2d2, #d8d2d2, #d8d2d2, #fffaf5);
  padding: 0px 20px;
  border: 1px solid #c9c9c9;
}

.pageTitle {
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family: 'Langar', cursive;
  font-size: 32px;
}

small {
  color: darkolivegreen;
  font-style: italic;
}

#qrbox {
  width: 120px;
  margin-left: auto;
  height: 120px;
  border: 1px solid #a095a5;
}

#qrbox img {
  width: 100%;
}
/*# sourceMappingURL=booking.css.map */