// colors variable
$bgblack    : #1b1919;
$bgGlobal   : #fffaf5;
$bgMain     : #d8d2d2;
;

// fonts variables
$commonText : 'Langar', cursive;
// font-family: 'Langar', cursive;
$titleText  : 'Redressed', cursive;
// font-family: 'Redressed', cursive;
$inputText  : 'Josefin Slab', serif;
// font-family: 'Josefin Slab', serif;


body{ background-color: $bgGlobal; font-family: $commonText; font-size: 18px;}
label {line-height: 120%;}
input , select , textarea { font-family: $inputText; }
.bg-black {
    background-color: $bgblack;
    padding: 12px 0px;
}
.bg-main {
    background: linear-gradient(to left, $bgGlobal , $bgMain , $bgMain , $bgMain , $bgGlobal );
    padding: 0px 20px;
    border: 1px solid rgb(201, 201, 201);
}

.pageTitle{ 
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    font-family: 'Langar', cursive;
    font-size: 32px;
}

small {
    color: darkolivegreen; font-style: italic;
}

#qrbox{
    width: 120px; margin-left: auto;
    height: 120px;
    border: 1px solid rgb(160, 149, 165);
    img{
        width: 100%;
    }
}
